<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Consumer Details</title>
</head>

<body>

<div class="container">

  <h3>Consumer Details</h3>
  <hr>

  <div>
    User: <span sec:authentication="name"></span>
    <br>
    Role(s): <span sec:authentication="principal.authorities"></span>
    <br><br>
  </div>

  <a th:href="@{/consumers/showFormForAdd}"
     class="btn btn-primary btn-sm mr-5 mb-3"  sec:authorize="hasRole('ROLE_ADMIN')">
    Add Consumer
  </a>


  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th>ConsumerId</th>
      <th>Consumer Name</th>
      <th>Father's Name</th>
      <th>Email</th>
      <th>Address</th>
      <th>Total Bill</th>

      <div sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')">
        <th>Action</th>
      </div>
    </tr>
    </thead>

    <tbody>
    <tr th:each="tempConsumers : ${consumers}">
      <td th:text="${tempConsumers.id}" />
      <td th:text="${tempConsumers.consumerName}" />
      <td th:text="${tempConsumers.fatherName}" />
      <td th:text="${tempConsumers.email}" />
      <td th:text="${tempConsumers.address}" />
      <td th:text="${tempConsumers.totalBill}" />


      <div sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')">

        <td>
          <div sec:authorize="hasAnyRole('ROLE_EMPLOYEE', 'ROLE_ADMIN')">

            <!-- Add "update" button/link -->
            <a th:href="@{/consumers/showFormForUpdate(consumerId=${tempConsumers.id})}"
               class="btn btn-info btn-sm">
              Update
            </a>

          </div>

          <div sec:authorize="hasRole('ROLE_ADMIN')">

            <!-- Add "delete" button/link -->
            <a th:href="@{/consumers/delete(consumerId=${tempConsumers.id})}"
               class="btn btn-danger btn-sm"
               onclick="if (!(confirm('Are you sure you want to delete this consumer?'))) return false">
              Delete
            </a>

          </div>
        </td>

      </div>

    </tr>
    </tbody>
  </table>

  <!-- Add a logout button -->
  <form action="#" th:action="@{/logout}"
        method="POST">

    <input type="submit" value="Logout" class="btn btn-outline-primary mt-2" />

  </form>

</div>

</body>
</html>



